# Practicing `SQL`

By this point, you have read quite a bit about `SQL` from the labs; now it is time to put that to practice. Jupyter notebooks provides us a convenient way to work with `SQL` inside the code blocks. But first we have to load the `sql` magic function extension for Jupyter.

In [ ]:
%load_ext sql

We will be connecting to a `PostgreSQL` database of reviews. We can go ahead and connect to the database. Keep in mind, any `sql` statment that we run in the notebook must first have teh `%sql` before the statement.

In [ ]:
%sql postgres://dsa_ro_user:readonly@dbase.dsa.missouri.edu/reviews

From this database we will be working with the `reviews` table. We can take a look at the first few rows of this table by `SELECT`ing all of the columns from the `reviews` table. We can also `LIMIT` this down to the first 5 rows.

In [ ]:
%sql SELECT * FROM reviews LIMIT 5;

We can also `SELECT` only certain columns by running a statement like `SELECT col1,col2 FROM table_name;`. 

**Exercise 1**: SELECT the first 10 rows from only the `price`, `score`, and  `title`  columns from the `reviews` table.

In [ ]:
# Code for Exercise 1 goes here
# -----------------------------

We can also work with some aggregate functions (recall the Aggregations and Advanced Aggregations labs). Imagine we wanted to know the number of scores for `Game of Thrones`. We can use the `count()` function on the `score` column where the `title` is "Games of Thrones".

In [ ]:
%sql SELECT count(score) FROM reviews WHERE title = 'Game of Thrones';

**Exercise 2**: Find the average score for "Game of Thrones".

In [ ]:
# Code for Exercise 2 goes here
# -----------------------------

We can also perform so aggregate function on multiple columns at once. This is nice for comparison between to aggregates. Below we find the average score and average helpfulness_score.

In [ ]:
%sql select avg(score), avg(helpfulness_score) FROM reviews WHERE title = 'Game of Thrones';

**Exercise 3**: Now find the sum, count and average of the `score` where the title is "Avatar".

In [ ]:
# Code for Exercise 3 goes here
# -----------------------------

We can also perform operations on columns if we wanted to as well as aggregates. Below we add the helpfulness_score and the score together, which means that for each row add those two columns together. Then we wanted to find the average of this sum.

In [ ]:
%sql select avg(score), avg(helpfulness_score), (avg((helpfulness_score+score))) FROM reviews WHERE title = 'Avatar';

**Exercise 4**: Find the sum of the `score` column and divide it by the count of the `score` column for the movie "Avatar" and see if it matches the average that you found in exercise 3.

In [ ]:
# Code for Exercise 4 goes here
# -----------------------------