### Exercise 1
* Connect the Spark cluster, and read in the Amazon reviews dataset.

In [12]:
from pyspark import SQLContext, SparkContext, SparkConf
from pyspark.sql.functions import col
sqlContext = SQLContext(sc)
df = sqlContext.read.json("In/reviews.json")

* Print the schema.

In [6]:
df.printSchema()

root
 |-- helpfuless_count: long (nullable = true)
 |-- helpfuless_score: long (nullable = true)
 |-- price: string (nullable = true)
 |-- productId: string (nullable = true)
 |-- profileName: string (nullable = true)
 |-- score: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- text: string (nullable = true)
 |-- time: string (nullable = true)
 |-- title: string (nullable = true)
 |-- userId: string (nullable = true)

### Exercise 2
* Select a set of distinct titles, and limit the selection to 20.

In [3]:
df2 = df.select('title').limit(20)
df2.show()

+--------------------+
|               title|
+--------------------+
|          Amazon.com|
| Nun Chuck, Novel...|
| Nun Chuck, Novel...|
| Its Only Art If ...|
|                  ah|
|                  ah|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
|        Chrono Cross|
+--------------------+

### Exercise 3
* Select the user id, the profile name, helpfulness score, and title of all reviews with a helpfulness score less than three and
greater than one. Limit your data set to 15.

In [23]:
from pyspark.sql.functions import col

df2 = df.select('userId','profileName','title','helpfuless_score').where((col('helpfuless_score') < 3) & (col('helpfuless_score') > 1)).limit(15)
df2.show()

+---------------+--------------------+--------------------+----------------+
|         userId|         profileName|               title|helpfuless_score|
+---------------+--------------------+--------------------+----------------+
| A3CKAD2MAEM157|             highter|        Chrono Cross|               2|
| A3D8T6YHSLYGWY|          C. Robledo|        Chrono Cross|               2|
|  A82ERU3622YJI| Corey A. Messer ...|        Chrono Cross|               2|
| A2GAQ3FLG7LI8D|              Nimms1|        Chrono Cross|               2|
| A1RSXP7MB772E3| Jeff W. Shimkus ...|        Chrono Cross|               2|
| A1AR8HYZ17T5H7|            "arxane"|        Chrono Cross|               2|
| A310GKM5693NRG|               Chris|        Chrono Cross|               2|
| A2F6NONFUDB6UK|              Malvin|           Dr. Seuss|               2|
| A1YLDZ3VHR6QPZ|               Clara| Whispers of the ...|               2|
|  ASEIU33YVKKWW| Barbara Steinbac...| Whispers of the ...|               2|
| A1XNI3654I4ME2|          Bronx Girl| Whispers of the ...|               2|
| A3VSJF0K4H28XK|     Mary J. Daniels| Whispers of the ...|               2|
| A1KAKU5SCNNEZM|                Tori| Whispers of the ...|               2|
| A2YVYPAA1JTMJU|                J.B.|       Vagrant Story|               2|
|  A9E7XZEMW0K9V|   Dan "toujoursdan"|                  Aw|               2|
+---------------+--------------------+--------------------+----------------+

### Exercise 4
* Select the title, helpfulness score, and the price information of reviews that have a helpfulness_score less than 5. Order the results by title. Hint: You need two clauses for ordering results.

In [33]:
df2 = df.select('title','price','helpfuless_score').where(col('helpfuless_score') < 5).orderBy('title').sort('title')
df2.show()

+-----+--------+----------------+
|title|   price|helpfuless_score|
+-----+--------+----------------+
|     | unknown|               0|
|     | unknown|               4|
|     | unknown|               0|
|     | unknown|               3|
|     | unknown|               1|
|     | unknown|               1|
|     | unknown|               1|
|     | unknown|               4|
|     | unknown|               0|
|     | unknown|               0|
|     | unknown|               4|
|     | unknown|               1|
|     | unknown|               0|
|     | unknown|               0|
|     | unknown|               0|
|     | unknown|               0|
|     |  165.90|               0|
|     | unknown|               1|
|     | unknown|               1|
|     | unknown|               1|
+-----+--------+----------------+
only showing top 20 rows

### Challenge Exercise
* What rating levels are most useful? High or low? 
* Write the queries that you think are most effective for answering this question.