In [1]:
%load_ext sql

In [2]:
%sql postgres://dsa_ro_user:readonly@dbase.dsa.missouri.edu/reviews

'Connected: dsa_ro_user@reviews'

In [3]:
%sql SELECT title,product_id FROM reviews LIMIT 10;

10 rows affected.

[('Deep Blue Sea (1999)', 'B00004T8V6'),
 ('Deep Blue Sea (1999)', 'B00004THG5'),
 ('Deep Blue Sea (1999)', 'B00004X0W8'),
 ('Deep Blue Sea (1999)', 'B00002E233'),
 ('Deep Blue Sea [VHS] (1999)', 'B00004T8V3'),
 ('Deep Blue Sea [VHS] (1999)', 'B00004THG1'),
 ('Deep Blue Sea [VHS] (1999)', 'B00004Y3Q9'),
 ('Deep Blue Sea [VHS] (1999)', 'B00005LLKG'),
 ('Men Are from Mars, Women Are from Venus', 'B0000546DH'),
 ('Embrace and Conquer (Severn House Historical Romance Series)', '0727842366')]

In [9]:
%sql SELECT avg(score) FROM reviews WHERE title LIKE 'Game of Thrones';

1 rows affected.

[(4.53057065217391,)]

In [5]:
%sql SELECT avg(score) FROM reviews WHERE title LIKE 'Twilight';

1 rows affected.

[(4.37770897832817,)]

In [6]:
%sql SELECT avg(score) FROM reviews WHERE title LIKE 'Avatar';

1 rows affected.

[(4.7115987460815,)]

In [7]:
%sql select avg(score), avg(helpfulness_score), (avg((helpfulness_score+score)/2))  from reviews where title like 'Game of Thrones';

1 rows affected.

[(4.53057065217391, 3.35212862318841, 3.94134963768116)]

In [8]:
%sql select avg(score), avg(helpfulness_score), (avg((helpfulness_score+score)/2)) from reviews where title like 'Avatar';

1 rows affected.

[(4.7115987460815, 2.49216300940439, 3.60188087774295)]