# Advanced Aggregation Functions

### In this Module we will be using Postgres to do the activites, but will include how to do it in SQLite if there are any differences in the code.


## Connect to postgreSQL

We will again connect to the postgres database to view the data.

Connect again by using the command:

        psql -U dsa_ro_user -h dbase dsa_ro

When asked for a password enter: readonly 

## Nested Queries

Run the following two commands to see where the data overlaps:

        \d us_second_order_divisions
        \d util_us_states

We know how to qeury the data now to find data when we know what some of the data, but what if I wanted to find the county_name of counties in Missouri.

Let's say we don't want to join the tables and we don't know the state_number_code for Missouri

The following command will return the names of counties that are located in the state Missouri

        SELECT county_name FROM us_second_order_divisions WHERE state_number_code IN (SELECT state_number_code FROM util_us_states WHERE state_name = 'MISSOURI');

We see how the IN clause is used to say that we want any counties that have a state_number_code IN the returned data from the subquery. 

Subqueries allow the ability to search data when you may not have full knowledge of what the specific codes for the data is.

In the case above we knew that Missouri would be in the util_us_states table, but we did not know what the state_number_code was this allowed us to use a nested query to solve this.

## Standard Deviation function

This is another aggregate function that will allow you to take the standard deviation of a given column in your database.

Here is a website with a list and syntax for the aggregate functions you can find stddev here - https://www.postgresql.org/docs/current/static/functions-aggregate.html

I would recommend taking some time and looking at different aggregate functions on that site that we do not cover in this Bootcamp.

We can easily implement the standard deviation function (stddev()) the same way we did with the other examples in the previous lesson.

What if we wanted to find the standard deviation of the population for all the cities in our city table?

        SELECT stddev(population) FROM cities;

This function works the same as the previous examples where you call it and add the column that you wish to calculate on.

What if you wanted to find the standard deviation of all the cities that are located in China?

Try to solve this the answer you receive should be: 3400132.50

## Aggregation Across Joins

Now we will combine the knowledge you have of joins and aggregation functions to use them simutaneously.

For this lesson we will be using the orders and customers tables. 

If you need a reminder of what there table looks like feel free to take a second to use:

        \d orders
        \d customers
       
        SELECT * FROM orders;
        SELECT * FROM customers;

##### Problem: We want to know the name of each customer who has ordered with us, the number of orders they have made, the max price they have spent, min price they have spent and average price they have spent.

### Create the Join

We will join these two tables where the customer_id matches on both tables.

You have writen this query before here is the query:

        SELECT * FROM customers AS c INNER JOIN orders AS o ON c.customer_id = o.customer_id;

Now that we have a join that works we need to figure out what we are trying to calculate.

### Columns to be returned / calculated

The problem asked for five columns to be returned.

The first is customer_name that is located in the customers table.

        c.customer_name

Second we must count the number of orders in the orders table.

        count(c.customer_id)
        
        To make this count work we must also ORDER BY c.customer_id

Third find the max order price in the orders table.

        o.MAX(order_price)

Forth find the min order price in the orders table.

        o.MIN(order_price)

Fifth find the average order price in the orders table.

        o.AVG(order_price)
        
### Final Product

        SELECT c.customer_name, COUNT(c.customer_id) AS number_of_orders, MAX(o.order_price) AS max_order_price, MIN(o.order_price) AS min_order_price, AVG(o.order_price) AS avg_order_price FROM customers AS c INNER JOIN orders AS o ON c.customer_id = o.customer_id GROUP BY c.customer_id;

This will return all of the data that we wanted!

I also used the AS command to rename certain columns in the output.